<h1 class='jumbotron'>Admin  orders</h1>
<div class='container'>
  <div class='row'>
    <div class='col-12 card'>
      <table class='table'>
        <thead>
          <th>USER</th>
          <th>PRODUCT</th>
          <th>QUANTITY</th>
          <th>ORDER TIME</th>
        </thead>
        <tbody>
          <%= render 'admin_order', collection: @orders %>
        </tbody>
      </table>
    </div>
  </div>
</div>